.banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: black;
  margin: 0;
  font-size: 15px;
}

.button {
  background-color: #557dce;
  border: solid 1px black;
  border-radius: 3px;
  color: white;
  padding: 10px;
}

.link {
  text-decoration: none;
}
